<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OnlineLibrary.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <OnlineLibrary.Properties.Settings>
            <setting name="LibrarianConn" serializeAs="String">
                <value>Data Source=LEM-LAPTOP\SQLEXPRESS;Initial Catalog=BookanizerDB;Integrated Security=True;Pooling=False</value>
            </setting>
            <setting name="RegularConn" serializeAs="String">
                <value>Data Source=tcp:lem-laptop,49172;Initial Catalog=BookanizerDB;Integrated Security=True;Pooling=False</value>
            </setting>
        </OnlineLibrary.Properties.Settings>
    </userSettings>
</configuration>